/* SCHERMO INFERIORE 420px */

@media screen and (max-width: 500px) {

  .row {
    width: 95%;
  }

  #lezioni .row>.left,
  #lezioni .row>.right {
    float: none;
    width: 100%;
  }

  #lezioni .row>.left {
    margin-bottom: 20px;
  }

  #lezioni img {
    width: 35%;
    height: auto;
  }

  #steps .row>.left,
  #steps .row>.central,
  #steps .row>.right {
    float: none;
    width: 100%;
    margin-bottom: 20px;
  }

  #steps img {
    width: 35%;
    height: auto;
  }

  #why .row>.first,
  #why .row>.second,
  #why .row>.third {
    margin-top: 50px;
  }

  #why img {
    width: 20%;
    height: auto;
  }

}

@media screen and (min-width: 501px) {

  .row {
    width: 95%;
  }

  #lezioni img[src*="maps"] {
    width: 35%;
    height: auto;
  }

  #lezioni img[src*="screen"] {
    width: 57%;
    height: auto;
  }

  #steps img {
    width: 35%;
    height: auto;
  }

  #why img {
    width: 15%;
    height: auto;
  }


}
